/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/07/2015, 10:02:39 AM
    Author     : master
*/

body{
    background-color: #ffffff;
}

.conteiner{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 95%;
}

.ui-state-default .b-delete{
    background-image: url(images/delete.gif);
}

.ui-state-default .b-update{
    background-image: url(images/edit.gif);
}

.ui-state-default .b-new{
    background-image: url(images/ok.png);
}