body{
    background-color: #ffffff;
}

.conteiner{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 95%;
}

.ui-state-default .b-delete{
    background-image: url(images/trash_full.png);
}

.ui-state-default .b-update{
    background-image: url(images/file_edit.png);
}

.ui-state-default .b-new{
    background-image: url(images/save_alt.png);
}

.ui-state-default .b-add{
    background-image: url(images/add.png);
}

.ui-state-default .b-ok{
    background-image: url(images/accept.png);
}

.ui-state-default .b-cancel{
    background-image: url(images/crossout.png);
}

.campo{
    display: none;
}

.ui-state-default .b-ver{
    background-image: url(images/zoom_in.png);
}

.ui-state-default .b-back{
    background-image: url(images/back.png);
}