<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=cobranzas</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">tricar2012</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>    
    <mapping resource="Model/Color.hbm.xml"/>
    <mapping resource="Model/Ocupacion.hbm.xml"/>
    <mapping resource="Model/Pagos.hbm.xml"/>
    <mapping resource="Model/Letras.hbm.xml"/>
    <mapping resource="Model/Sysdiagrams.hbm.xml"/>
    <mapping resource="Model/Vehiculo.hbm.xml"/>
    <mapping resource="Model/Usuario.hbm.xml"/>
    <mapping resource="Model/Credito.hbm.xml"/>
    <mapping resource="Model/Modelo.hbm.xml"/>
    <mapping resource="Model/Perfil.hbm.xml"/>
    <mapping resource="Model/Anexo.hbm.xml"/>
    <mapping resource="Model/Tipocambio.hbm.xml"/>
    <mapping resource="Model/Tipodoc.hbm.xml"/>
    <mapping resource="Model/Caja.hbm.xml"/>
    <mapping resource="Model/Movcaja.hbm.xml"/>
    <mapping resource="Model/Conceptos.hbm.xml"/>
    <mapping resource="Model/Historialmora.hbm.xml"/>
    <mapping resource="Model/Requisitos.hbm.xml"/>
    <mapping resource="Model/Creditoaval.hbm.xml"/>
    <mapping resource="Model/Distrito.hbm.xml"/>
    <mapping resource="Model/Menu.hbm.xml"/>
    <mapping resource="Model/Submenu.hbm.xml"/>
    <mapping resource="Model/Perfilmenu.hbm.xml"/>
    <mapping resource="Model/Perfilsubmenu.hbm.xml"/>
    <mapping resource="Model/Detalleventa.hbm.xml"/>
    <mapping resource="Model/Servicio.hbm.xml"/>
    <mapping resource="Model/Repuesto.hbm.xml"/>
    <mapping resource="Model/Creditogestor.hbm.xml"/>
    <mapping resource="Model/Visitas.hbm.xml"/>    
  </session-factory>
</hibernate-configuration>
