<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://servertricar:1433;databaseName=cobranzas</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">tricar2012</property>
    <mapping resource="Model/Condicionpago.hbm.xml"/>
    <mapping resource="Model/Vehiculo.hbm.xml"/>
    <mapping resource="Model/Menu.hbm.xml"/>
    <mapping resource="Model/Usuario.hbm.xml"/>
    <mapping resource="Model/Tiempopago.hbm.xml"/>
    <mapping resource="Model/Tipoanexo.hbm.xml"/>
    <mapping resource="Model/Datoscredito.hbm.xml"/>
    <mapping resource="Model/Color.hbm.xml"/>
    <mapping resource="Model/Tipovehiculo.hbm.xml"/>
    <mapping resource="Model/Letras.hbm.xml"/>
    <mapping resource="Model/Menutipoanexo.hbm.xml"/>
    <mapping resource="Model/Anexo.hbm.xml"/>
    <mapping resource="Model/Pagos.hbm.xml"/>
    <mapping resource="Model/Modelo.hbm.xml"/>
    <mapping resource="Model/Sysdiagrams.hbm.xml"/>
    <mapping resource="Model/Detcredito.hbm.xml"/>
    <mapping resource="Model/Venta.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
